@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Dancing+Script&family=Edu+NSW+ACT+Foundation:wght@500&family=Edu+VIC+WA+NT+Beginner&family=Lobster&family=PT+Sans:wght@400;700&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Dancing+Script&family=Edu+NSW+ACT+Foundation:wght@500&family=Edu+VIC+WA+NT+Beginner&family=Kanit:ital,wght@1,200&family=Lobster&family=PT+Sans:wght@400;700&family=Roboto:wght@300;400&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: coral;
}

h1{
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center;
  text-decoration:underline wavy;
}


 #drum-machine{
  margin: auto;
  padding: 20px;
  background-color: aqua;
  display: flex;
  align-items: center;
  width: 600px;
  border-radius: 10px;
}

.drum-within{
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} 

.drum-pad{
  height: 70px;
  width: 70px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 2px;
  font-size: 40px;

  background-color: grey;
}

.box:active{
  opacity: 0.8;
}

.active{
  opacity: 0.8;
}

#display{
  width: 150px;
  padding: 10px;
  height: 100px;
  font-family: 'Dancing Script', cursive;
  background-color: antiquewhite;
  margin-left: 30px;
  border-radius: 10px;
}